<div class="dashboard main">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 activity-form">

        <%= render 'activities/form' %>

      </div>
    </div>

    <div class="row">
      <%= render 'activities/index' %>
    </div>
  </div>
</div>