<div class="dashboard main">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 activity-form text-right">   
        <%= render 'activities/form' %>
        <%= link_to 'Stop', dashboard_path, :class => 'btn btn-danger' %>   
      </div>
    </div>
    <div class="row">
      <%= render 'activities/index' %>
    </div>
  </div>
</div>