<div class="dashboard main">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 activity-form">

        <%= render 'activities/form' %>

      </div>
    </div>

    <div class="row">
      <table class="table activities-list">
        <thead>
          <tr>
            <th>Project</th>
            <th>Description</th>
            <th class="text-center">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>Make it Real</td>
            <td>Diseñando TimeApp</td>
            <td class="text-center">3600 segundos</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>