<div class="header" id="loginheader">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Editing activity</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    	<div class="content">
	    	<%= render 'form' %>
	    	<%= link_to 'Back', projects_path %>
    	</div>
    </div>
  </div>
</div>